.tasks-area {
  display: flex;
  flex:2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all .2s ease;
  .add-task-plus {
    float:left;
    position: absolute;
    width:50px;
    height: 50px;
    margin:10px;
    &:hover {
      cursor: pointer;
      circle {
        transition: fill .2s ease;
        fill:red!important;
      }
    }
    circle {
      transition: fill .2s ease;
      fill:#43B05C;
    }
  }
}

.move-task-icon {
  align-self: flex-end;
  width:20px;
  height: 20px;
  cursor: pointer;
}

.tasks-container {
  text-align: center;
  max-height: ~"calc(100vh - 80px)";
  overflow: auto;
}

.tasks {
  flex:8;
  max-height: ~"calc(100vh - 85px)";
  overflow: auto;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  div:first-child {
    align-self: flex-end;
  }
  .task {
    &.dragged {
      position: absolute;
      opacity: 0.3;
    }
    &.shadow {
      opacity: 0.4;
      border: 1px solid rgba(0,0,0,0.4);
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    padding: 10px;
    min-width: 50vw;
    min-height: 50px;
    margin:10px;
    textarea {
      width: 80%;
      height: auto;
    }
    input {
      width: 80%;
    }
    button {
      align-self: flex-end;
    }
  }
}