.tasks-area {
  display: flex;
  flex:2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .add-task-plus {
    float:left;
    position: absolute;
    width:50px;
    height: 50px;
    margin:10px;
    &:hover {
      cursor: pointer;
      circle {
        transition: fill .2s ease;
        fill:red!important;
      }
    }
    circle {
      transition: fill .2s ease;
      fill:#43B05C;
    }
  }
}

.tasks-container {
  text-align: center;
  max-height: ~"calc(100vh - 80px)";
  overflow: auto;
}

.tasks {
  flex:8;
  max-height: ~"calc(100vh - 85px)";
  overflow: auto;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  .task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    padding: 10px;
    min-width: 50vw;
    min-height: 50px;
    margin:10px;
    textarea {
      width: auto;
    }
    button {
      align-self: flex-end;
    }
  }
}